name: ci

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version:
        - 0.29.0
        - 1.0.0
    
    steps:
    - uses: actions/checkout@v1
    
    - name: build
      run: |
        docker build \
            -t ngalayko/bazel-action:${{ matrix.version }}
            --build-arg bazel_version=${{ matrix.version }}
            .

    - name: login to registry
      env:
        docker_password: ${{ secrets.docker_password }}
      run: |
        docker login \
            -u ngalayko \
            -p ${docker_password}

    - name: push
      run: |
        docker push ngalayko/bazel-action:${{ matrix.version }}
